body  {
   background-image: url(/app/rr.png);
   

}
div {
  background-image: url(app/kk.jpg);
  background-color: navajowhite;

  background-size: 150px 150px;
  background-repeat: no-repeat;



}


