div,.sobuj{

height: 400px;
width: 800px;
background-color: green;
border:5px solid green;

overflow: hidden;

}
.lal{
  height: 250px;
  width: 250px;
  background-color: red;
  border-radius: 130px;
  margin: 80px auto;
  overflow: hidden;
   box-shadow: -8px 10px 10px green;


}
img {
  width: 50%;
  margin: 50px auto;
  display: block;
  border-radius: 50px;
box-shadow: 5px  10px 10px red;



}
